.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
  }
  
  .navbarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logoFrame {
    display: flex;
    align-items: center;
  }
  
  .logoText {
    margin-left: 10px;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: bold;
    color: darkgray;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    position: relative;
  }
  
  .links {
    display: flex;
    gap: 33px;
    justify-content: flex-end;
    align-items: center;
    width: 950px;
  }
  
  .navLink {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #444444;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 2em;
    text-align: left;
  }
  
  .iconButton {
    padding: 10px 15px;
    background: radial-gradient(circle, #545454 0%, #545454 100%);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbarHeader {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .logoText {
      font-size: 18px;
    }
  
    .links {
      width: 100%;
      justify-content: space-between;
      padding-top: 10px;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navLink {
      font-size: 14px;
      line-height: 1.5em;
    }
  
    .iconButton {
      width: 100%;
      padding: 12px 0;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      padding: 10px;
    }
  
    .logoText {
      font-size: 16px;
    }
  
    .links {
      gap: 20px;
    }
  
    .navLink {
      font-size: 13px;
    }
  
    .iconButton {
      font-size: 13px;
      padding: 10px 0;
    }
  }
  